/*========== VARIABLES CSS ==========*/
:root {
  --header-height: 48px;
  --sidebar-width: 256px;

  --sidebar-width-minimize: 78px;

  /*========== Colors ==========*/
  --primary-color: #003285;

  --primary-color-dark: #001e4e;

  --secondary-color-800: #004065;

  --text-color: #565d6d;
  --text-color-heading: rgba(0, 0, 0, 0.9);
  --text-color-description: #6f7787;
  --text-color-title: #323743;

  --text-yellow-dark: #7d6600;

  --neutral-color-100: #fafafb;
  --neutral-color-200: #f3f4f6;

  --pink-color-dark: #ff56a5;
  --pink-color-light: #ffe4f0;

  --yellow-color-dark: #fccf05;
  --yellow-color-light: #fdf4cd;

  --orange-color-dark: #f96846;
  --orange-color-light: #fff3f0;

  --blue-color-dark: #1465e9;
  --blue-color-light: #f0f9ff;

  --green-color-dark: #0eaa42;
  --green-color-light: #e8fde8;

  /*========== Font and typography ==========*/
  --body-font: "Roboto", sans-serif;

  /*========== Font size ==========*/
  --font-regular: 1rem; /* 16px */
  --font-regular-sm: 0.875rem; /* 14px */
  --bs-body-font-size: 14px;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 900;
  /*========== z index ==========*/
  --z-fixed: 100;

  --circle-size-horizontal: clamp(2rem, 3vw, 2rem);
  --spacing-horizontal: clamp(0.25rem, 2vw, 0.5rem);

  --circle-size-vertical: clamp(1.5rem, 5vw, 3rem);
  --spacing-vertical: clamp(0.25rem, 2vw, 0.5rem);
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--lightestgrey);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c9d2;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
}

a {
  cursor: pointer;
  text-decoration: none;
  font-family: var(--body-font);
}

li {
  list-style: none;
}

body {
  font-family: var(--body-font);
}

p,
hr,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* App style */
.text-neutral-900 {
  color: var(--text-color-heading);
}

.text-small-bold {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color-heading);
}

.wrapper {
  min-height: 100vh;
  position: relative;
  top: 0;
  height: 100vh;
}

.app-content {
  position: relative;
  width: calc(100% - var(--sidebar-width));
  height: 100vh;
  min-height: 100%;
  float: right;
  transition: 0.4s ease;
}

.wrapper.minimize-sidebar .app-content {
  width: calc(100% - var(--sidebar-width-minimize));
  transition: 0.4s ease;
}

.app-content .main {
  min-height: calc(100% - var(--header-height));
  margin-top: var(--header-height);
  overflow: hidden;
  width: 100%;
  max-width: unset;
  padding: 4px 20px;
}

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: var(--z-fixed);
  background-color: var(--neutral-color-100);
  width: var(--sidebar-width);
  transition: all 0.5s;
}

.wrapper.minimize-sidebar .sidebar {
  width: var(--sidebar-width-minimize);
  transition: all 0.5s;
}

.sidebar .app-logo {
  margin: 0 12px 0 12px;
  height: 48px;
}
.wrapper.minimize-sidebar .sidebar .app-logo {
  background: url("../image/example-logo.jpg") center center no-repeat;
  background-size: cover;
  height: 48px;
}

.sidebar .app-logo > img {
  max-width: 100%;
  max-height: 100%;
}

.wrapper.minimize-sidebar .sidebar .app-logo > img {
  display: none;
}

.sidebar-wrapper {
  padding: 20px 0 20px 0;
  margin-right: 4px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar-bottom-wrapper {
  margin-top: auto;
  display: flex;
  align-items: center;
  width: 100%;
}

.wrapper.minimize-sidebar .sidebar-bottom-wrapper .sidebar-item a,
.wrapper .sidebar-bottom-wrapper .sidebar-minimize-text {
  display: none;
}

.wrapper.minimize-sidebar .sidebar-bottom-wrapper .sidebar-item a {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

.wrapper.minimize-sidebar .sidebar-bottom-wrapper .sidebar-item a p {
  font-size: 12px;
}

.sidebar-bottom-wrapper .toggle-button {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  color: var(--text-color);
  background: transparent;
  padding: 8px 18px;
  margin-bottom: 4px;
}

.sidebar-bottom-wrapper .toggle-button > i {
  align-self: flex-start;
}

.wrapper.minimize-sidebar .sidebar-bottom-wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper.minimize-sidebar .sidebar-item {
  color: red;
}

.sidebar-item,
.sidebar-sub-menu-item {
  padding-top: 4px;
  cursor: pointer;
  width: 100%;
}

hr {
  display: block;
  width: 100%;
  background-color: #1b1b19;
  height: 1px;
  margin: 8px 0;
}

.sidebar-item > a,
.sidebar-sub-menu-item > a {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  padding: 8px 18px;
  margin-bottom: 4px;
  cursor: pointer;
  color: var(--text-color);
  position: relative;
}

.wrapper.minimize-sidebar .sidebar .sidebar-wrapper > .sidebar-item a p,
.wrapper.minimize-sidebar
  .sidebar
  .sidebar-wrapper
  > .sidebar-item.sub-menu
  > a {
  display: none;
}

.wrapper.minimize-sidebar .sidebar .sidebar-wrapper > .sidebar-item a {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 8px;
  margin-bottom: 8px;
}

.sidebar .sidebar-wrapper > .sidebar-item a .sidebar-minimize-text {
  display: none;
}

.wrapper.minimize-sidebar
  .sidebar
  .sidebar-wrapper
  > .sidebar-item
  a
  .sidebar-minimize-text,
.wrapper.minimize-sidebar .sidebar .sidebar-wrapper .sidebar-sub-menu-item a p {
  display: block;
  font-size: 12px;
}

.sidebar .sidebar-wrapper > .sidebar-item a p {
  font-size: 14px;
  margin-bottom: 0;
  margin-right: 5px;
  white-space: nowrap;
}

.sidebar-sub-menu-item > a {
  padding: 8px 30px;
}

.sidebar-item:hover > a {
  color: var(--primary-color);
  font-weight: var(--font-medium);
}

.sidebar-sub-menu-item:hover > a,
.sidebar-sub-menu-item.active > a {
  color: var(--primary-color);
  font-weight: var(--font-medium);
}

.wrapper.minimize-sidebar
  .sidebar
  .sidebar-wrapper
  .sidebar-sub-menu-item.active
  > a::before {
  position: absolute;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: var(--primary-color);
  display: block;
  content: "";
}

.sidebar-item.active > a {
  color: var(--primary-color);
  font-weight: var(--font-medium);
}

.sidebar-item.active > a::before {
  position: absolute;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: var(--primary-color);
  display: block;
  content: "";
}

/* Header */
.header {
  background: #fff;
  min-height: var(--header-height);
  width: calc(100% - var(--sidebar-width));
  position: fixed;
  z-index: 1001;
  border-bottom: 1px solid lightgray;
}

.wrapper.minimize-sidebar .app-content .header {
  width: calc(100% - var(--sidebar-width-minimize));
}

.header .navbar-header {
  min-height: var(--header-height);
  padding: 0 30px;

  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.navbar-header .header-avt {
  width: 2rem;
  height: 2rem;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--blue-color-light);
}

.navbar-header__left .search-box-container {
  width: 30rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 4px;
  padding: 0 1rem;
  background: var(--neutral-color-200);
}

.search-box-container > input {
  border: none;
  width: 100%;
  height: 100%;
  background-color: inherit;
  font-size: 14px;
}

.search-box-container > input:focus {
  border: none;
  outline: none;
}

.search-box-container > input::placeholder {
  color: var(--text-color-description);
}

.navbar-header__right .header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--text-color);
}

.header-icon > .header-icon-badge {
  position: absolute;
  right: 0;
  top: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;

  display: none;
}

.user-profile {
  position: relative;
  cursor: pointer;
}

.user-menu-list {
  position: absolute;
  right: 0;
  top: 100%;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 4px;
  display: none;
  min-width: 150px;
}

.user-menu-list > li {
  padding: 12px 20px;
  border-bottom: solid 1px var(--neutral-color-200);
  width: 100%;
}

.user-menu-list > li:hover {
  background-color: var(--neutral-color-200);
}

.user-menu-list > li:last-child {
  border-bottom: 0;
}

.user-menu-list > li > a {
  color: var(--text-color-heading);
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Content */
.control-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  background-color: var(--neutral-color-200);
}

a.control-icon-container {
  color: var(--text-color);
}

.page-heading {
  font-size: 18px;
  color: var(--text-color-heading, rgba(0, 0, 0, 0.9));
}

/*============= Progressbar start===========*/

.stepper {
  display: flex;
  padding: 8px;
  width: 50%;
}

.stepper__item {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  position: relative;
}

.stepper__circle {
  width: var(--circle-size-horizontal);
  height: var(--circle-size-horizontal);
  border-radius: 50%;
  background-color: lightgray;

  margin: 0 auto 8px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepper__item .stepper__circle > i {
  display: none;
}
.stepper__item.completed .stepper__circle {
  background-color: var(--green-color-dark);
  color: white;
}
.stepper__item .stepper__circle > span {
  color: var(--text-color-description);
}

.stepper__item.current .stepper__circle,
.stepper__item.current .stepper__circle > span {
  background-color: var(--primary-color);
  color: white;
}

.stepper__item.completed .stepper__circle > span {
  display: none;
}

.stepper__item.completed .stepper__circle > i {
  display: inline;
}

.stepper__item:not(:last-child):after {
  content: "";
  position: relative;
  top: calc(var(--circle-size-horizontal) / 2);
  width: calc(
    100% - var(--circle-size-horizontal) - calc(var(--spacing-horizontal) * 2)
  );
  left: calc(
    50% + calc(var(--circle-size-horizontal) / 2 + var(--spacing-horizontal))
  );
  height: 2px;
  background-color: #e0e0e0;
  order: -1;
}

.stepper__title {
  font-weight: 400;
  font-size: 12px;

  margin-bottom: 0;
  color: #6f7787;
}

.stepper__desc {
  color: grey;
  font-size: clamp(0.85rem, 2vw, 1rem);
  padding-left: var(--spacing-horizontal);
  padding-right: var(--spacing-horizontal);
}
/*============= Progressbar end ===========*/

/*============= Overall info start ===========*/

.overall_info_container {
  display: flex;
  background-color: #f0f9ff;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 12px 40px;
  margin-bottom: 20px;
}

.overall_info_item {
  text-align: left;
}

.overall_info_item > p:first-child {
  text-transform: uppercase;
}
.overall_info_item > p:last-child {
  text-transform: none;
  font-size: 14px;
  line-height: 28px;
  font-weight: 700;
  color: var(--text-color-heading);
  margin-bottom: 0;
}

/*============= Overall info end ===========*/

/*============= Tab start ===========*/
.tab_btn {
  padding: 12px 20px;
  cursor: pointer;
  font-size: 14px;
}

.tab_btn.active {
  color: var(--primary-color);
  font-weight: 600;
  border-bottom: 3px solid var(--primary-color);
}

.content {
  display: none;
  animation: moving 0.5s ease;
}

.content.active {
  display: flex;
}

@keyframes moving {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.left_content,
.right_content {
  border: 1px solid var(--neutral-color-200);
  border-radius: 6px;
}

/*============= Tab end ===========*/

.list_text {
  color: var(--secondary-color-800);
  font-weight: 600;
  font-size: 16px;
}

.list_text.text-lg {
  font-weight: 600;
  font-size: 16px;
}

.list_text.text-neutral {
  color: var(--text-color-heading);
}

.link_text {
  color: var(--primary-color);
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.link_text:hover {
  color: var(--primary-color-dark);
  font-weight: var(--font-medium);
}

.mission-list-item {
  display: flex;
  align-items: center;
}

.mission-list-item_icon {
  padding: 8px;
  margin: 8px;
  display: none;
}

.mission-list-item_icon .completed {
  color: var(--green-color-dark);
  display: block;
}

.mission-list-item__title {
  font-weight: 600;
}

.mission-list-item__description {
  font-weight: 400;
}

/* ========Time line start========== */

.time-line-container,
.level-member-container {
  position: relative;
  margin: 20px;
}

.vertical-stepper__item {
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
}

.vertical-stepper__content-circle {
  width: var(--circle-size-vertical);
  height: var(--circle-size-vertical);
  border-radius: 50%;
  background-color: lightgrey;

  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-stepper__item.yellow .vertical-stepper__content-circle {
  background-color: var(--yellow-color-light);
  color: var(--text-yellow-dark);
}

.vertical-stepper__item.blue .vertical-stepper__content-circle {
  background-color: var(--blue-color-light);
  color: var(--blue-color-dark);
}

.vertical-stepper__item.green .vertical-stepper__content-circle {
  background-color: var(--green-color-light);
  color: var(--green-color-dark);
}

.vertical-stepper__item.pink .vertical-stepper__content-circle {
  background-color: var(--pink-color-light);
  color: var(--pink-color-dark);
}

.vertical-stepper__item:after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(var(--circle-size-vertical) + var(--spacing-vertical));
  bottom: var(--spacing-vertical);
  z-index: -1;
  transform: translateX(calc(var(--circle-size-vertical) / 2));
  width: 2px;
  border: 1px dashed #e0e0e0;
}

.vertical-stepper__title {
  margin-bottom: 1rem;
}

.vertical-stepper__title > p {
  font-size: 1rem;
  color: black;
  font-weight: 600;
}

.vertical-stepper__title > p:nth-child(2) {
  font-size: 13px;
  color: var(--text-color-description);
  font-weight: 400;
}

.vertical-stepper__desc {
  color: grey;

  background-color: var(--neutral-color-100);
  padding: 12px 20px;
  border-radius: 6px;
}

.vertical-stepper__content {
  max-width: 700px;
}

/* ========Time line end========== */

/* ======== Card start ========== */

.card-container.yellow,
.card-container.green,
.card-container.blue,
.card-container.pink {
  width: 100%;
  border-radius: 8px;
}

.card-container.yellow {
  background-color: var(--yellow-color-light);
}
.card-container.green {
  background-color: var(--green-color-light);
}
.card-container.blue {
  background-color: var(--blue-color-light);
}
.card-container.pink {
  background-color: var(--pink-color-light);
}
.card-container .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.card-container .card-header .card-option {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
}

.card-container .card-description {
  display: flex;
  justify-content: space-between;
}

.card-description__content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-description__content > p:first-child {
  font-weight: 600;
  font-size: 16px;
  color: #323743;
}

.card-description__content > p:last-child {
  color: var(--text-color-description);
  font-size: 13px;
}

/* ======== Avatar group start ========== */
.avatar-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  position: relative;
  transition: 0.2s;
  cursor: pointer;
}

.avatar:not(:first-child) {
  margin-left: -1rem;
}

.avatar:not(:has(.avatar-name)) {
  margin-left: 0;
}

.avatar:has(.avatar-name):hover {
  z-index: 1;
  transform: translateY(-0.5rem);
}

.avatar-name {
  position: absolute;
  bottom: calc(100% + 0.5rem);
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 0.875rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.avatar-name::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 0.5rem solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent;
}

.avatar:hover .avatar-name {
  opacity: 1;
  visibility: visible;
}

.avatar img,
.avatar .default-user-avt {
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  background-color: var(--primary-color);
}

.avatar.avatar-sm img,
.avatar.avatar-sm .default-user-avt {
  width: 2rem;
  height: 2rem;
}

.avatar.background-blue img {
  background-color: var(--blue-color-light);
}

.avatar.background-pink img {
  background-color: var(--pink-color-light);
}

.avatar.background-yellow img {
  background-color: var(--yellow-color-light);
}

.avatar .default-user-avt {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.avatar img.default-user-img {
  background-color: lightcyan;
}

/* ======== Avatar group end ========== */

/* Task list */

.task-item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  cursor: default;
}

.task-item-icon {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-item-icon > i {
  color: var(--green-color-dark);
}

.task-item-content > p:first-child {
  font-size: 1rem;
  line-height: 22px;
  font-weight: 500;
  color: #323743ff;
  margin-bottom: 0.5rem;
}

.task-item-content > p:last-child {
  font-size: 13px;
  line-height: 12px;
  font-weight: 400;
  color: var(--text-color-description);
  margin-bottom: 0;
}

/* Mission */

.mission-list,
.task-list,
.event-list {
  display: flex;
  flex-direction: column;
  padding: 8px 20px 20px 20px;
  gap: 24px;
}

.mission-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 12px 20px;
  border-radius: 6px;
  border: 1px solid #dee1e6;
  cursor: pointer;
}

.mission-item-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: lightgray;
  flex-shrink: 0;
}

.mission-item-image > img {
  width: 100%;
  height: 100%;
}

.mission-item-description > p:first-child {
  font-size: 1rem;
  line-height: 22px;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.mission-item-description > p:last-child {
  font-size: 13px;
  line-height: 12px;
  font-weight: 400;
  color: var(--text-color-description);
  margin-bottom: 0;
}

.mission-item-image-navigate {
  margin-left: auto;
}

.mission-item-image-navigate > i {
  color: var(--text-color-description);
}

/* ==============badge======== */
.badge {
  color: var(--text-color);
}

.badge.unread,
.header-icon-badge.unread {
  background-color: red;
  color: white;
}

.badge.tagging--yellow,
.badge.tagging--green,
.badge.tagging--blue,
.badge.tagging--pink,
.badge.tagging--blue-light,
.badge.tagging--yellow-light {
  border-radius: 50rem;
  padding: 8px 18px;
  font-size: 14px;
  font-weight: 500;
}

.badge.tagging--yellow {
  background-color: var(--yellow-color-dark);
  color: black;
}

.badge.tagging--blue {
  background-color: var(--blue-color-dark);
  color: white;
}

.badge.tagging--pink {
  background-color: var(--pink-color-dark);
  color: white;
}

.badge.tagging--green {
  background-color: var(--green-color-dark);
  color: white;
}

.badge.tagging--blue-light {
  background-color: var(--blue-color-light);
  color: #3fa1fce7;
}

.badge.tagging--yellow-light {
  background-color: var(--yellow-color-light);
  color: var(--text-yellow-dark);
}

.badge.badge-sm {
  width: fit-content;
  padding: 8px 12px;
}
/* Level member */

.level-member-container {
  margin: 0;
  width: 50%;
  height: fit-content;
  border: 1px solid var(--neutral-color-200);
  padding: 20px;
}

.vertical-stepper__item.level-item::after,
.vertical-stepper__item.working-history::after {
  display: none;
}

.vertical-stepper__item.working-history:last-child {
  padding-bottom: 0;
}

.right-content {
  width: 100%;
  border: 1px solid var(--neutral-color-200);
}

.vertical-stepper__item.level-item .vertical-stepper__content-line,
.vertical-stepper__item.working-history .vertical-stepper__content-line {
  width: 1px;
  height: calc(100% - var(--circle-size-vertical) / 2 + 0.5rem);
  transform: translateX(calc(var(--circle-size-vertical) / 2));
  border: 1px dashed #e0e0e0;
}

.vertical-stepper__item.level-item:last-child .vertical-stepper__content-line,
.vertical-stepper__item.working-history:last-child
  .vertical-stepper__content-line {
  display: none;
}

/* ============ Member support start============= */

/* ====== switch toggle start ==========*/
.switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 100%;
}

.switch-container > span {
  font-size: 14px;
  vertical-align: middle;
}

.switch {
  position: relative;
  display: inline-block;
}

.switch.switch-small {
  width: 3.5rem;
  height: 2rem;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--neutral-color-200);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.5rem);
  -ms-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}

.on {
  display: none;
}

.on,
.off {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
}

input:checked + .slider .on {
  display: block;
}

input:checked + .slider .off {
  display: none;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ====== switch toggle end ==========*/

/* ====== board start ==========*/

.board-item-card {
  position: relative;
  background: #fffcfc;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.board-item-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.board-item-card-title .board-item-card-name {
  color: var(--text-color-title);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.board-item-card-title .board-item-card-name:hover {
  color: var(--primary-color);
}

.priority-text {
  font-size: 16px;
  text-align: center;
}

.priority-text.rank-high {
  color: #de3b40ff;
}

.priority-text.rank-medium {
  color: #fcb831ff;
}

.priority-text.rank-low {
  color: #379ae6ff;
}

.board-item-card-deadline {
  display: inline-flex;
  gap: 1rem;
  font-size: 14px;
}

.board-item-card-deadline > span:first-child {
  color: var(--text-color-heading);
}

.board-item-card-deadline > span:last-child {
  color: var(--text-color-description);
}

.board-item-card-additional {
  color: var(--text-color-description);
  display: inline-flex;
  gap: 14px;
}

.task-board-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 135px);

  overflow-x: auto;
  overflow-y: hidden;
}

.task-board-header,
.task-board-content {
  display: flex;
  column-gap: 8px;
  min-width: max-content;
}

.task-board-header {
  background-color: white;
}

.task-board-content {
  flex-grow: 1;

  overflow-y: auto;
  overflow-x: hidden;
  flex-wrap: wrap;
}

.task-board-header .task-list-header,
.task-board-content .task-board-content-list {
  flex-shrink: 0;
  min-width: 314px;
  width: 19.6%;
}

.wrapper.minimize-sidebar .task-board-header .task-list-header,
.wrapper.minimize-sidebar .task-board-content .task-board-content-list {
  flex-shrink: 0;
  min-width: 351px;
  width: 19.6%;
  transition: 0.5s ease;
}

.task-board-content .task-board-content-list {
  background-color: var(--neutral-color-200);
  padding: 12px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task-board-header .task-list-header {
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: auto 0;
  padding: 8px 12px;
}

.task-board-header .task-list-header > span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: white;
  width: 8px;
  height: 8px;
  padding: 12px;
  border-radius: 50%;
}

/* =========================== */

/* ========Drawer=========== */
.drawer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #33333380;
  transition-property: opacity;
  transition-duration: 250ms;
  z-index: 5000;
  overflow: auto;
  display: none;
}

.drawer-container {
  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40%;
  z-index: 5001;
  opacity: 1;
  padding: 2rem;
  border-radius: 6px;
  overflow: visible;
  height: fit-content;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.work-item-details-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

.work-item-details-info {
  display: flex;
  align-items: center;
}

.work-item-details-info .work-item-label {
  min-width: 200px;
  font-size: 14px;
  color: var(--text-color-description);
}

.work-item-details-info .work-item-label > span > i {
  margin-right: 8px;
}

.work-item-details-info .work-item-value {
  font-size: 14px;
  color: var(--text-color-heading);
}

.work-item-heading {
  color: var(--text-color-description);
  font-size: 14px;
}

.work-item-heading-func {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.work-descriptions {
  font-size: 14px;
  color: var(--text-color-heading);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.work-descriptions > p:first-child {
  font-size: 14px;
}
/* =============Progress bar with check list================= */

.progress-bar-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 1rem 0;
}

.progress-bar {
  height: 6px;
  width: 100%;
  background-color: #95beffff;
  border-radius: 4px;
  position: relative;
}

.progress-bar .actual-percent {
  position: absolute;
  height: 4px;
  background-color: var(--primary-color);
  border-radius: 6px;
}

/* ============Checklist=========== */

.check-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.check-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type="checkbox"],
.check-list-item > input[type="checkbox"] {
  position: relative;
  width: 1rem;
  height: 1rem;
  color: black;
  border: 1px solid gray;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  flex-shrink: 0;
}

.check-list-item > input[type="checkbox"] {
  flex-shrink: 0;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}

input[type="checkbox"]:checked {
  color: white;
  border-color: var(--primary-color);
  background: var(--primary-color);
}

input[type="checkbox"]:checked::before {
  opacity: 1;
}

label {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  padding: 0 0.25em 0;
  user-select: none;
  color: var(--text-color-heading);
}

.check-list-note {
  color: var(--text-color-description);
  font-size: 13px;
}

/* =========== */

.upload-files-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drag-file-area {
  border: 1px dashed var(--primary-color);
  background-color: #f0f5ff80;
  height: fit-content;
  border-radius: 8px;
  padding: 1rem 4rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.file-info {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.file-icon {
  margin-right: 10px;
}
.file-name,
.file-size {
  padding: 0 3px;
}
.remove-file-icon {
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  width: fit-content;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: var(--primary-color);
  border-radius: 8px;
}

.custom-file-upload:hover {
  background-color: var(--blue-color-light);
}

/* ========= Comment section start======== */
.comment-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.comment-item .avatar {
  align-self: start;
}

.comment-input-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.comment-input-container > input {
  background-color: var(--neutral-color-200);
  border: 0;
  outline: none;
  padding: 8px;
  color: var(--text-color-heading);
  flex: 1;
  border-radius: 6px;
}

.comment-input-container > input::placeholder {
  color: var(--text-color-heading);
}

.avatar > .online-status {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0eaa42;
}
/* ========= Comment section end======== */

/* ...... */

.priority-dropdown,
.user-dropdown-list {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: var(--neutral-color-200);
  color: var(--text-color);
  padding: 4px 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  border-radius: 2rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
  margin-top: 8px;
}

.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content li:hover {
  background-color: #f1f1f1;
}

/* ========= ~ ======= */

.primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 8px 12px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  min-width: 80px;
  margin-left: auto;
}

.primary-btn.button-disabled {
  opacity: 0.4;
  cursor: default;
}

/* ====Comment===== */

.comment-author {
  display: flex;
  align-items: center;
  gap: 8px;
}

.comment-author > span:first-child {
  font-weight: 600;
}

.comment-author > span:last-child {
  font-size: 12px;
  color: var(--text-color-description);
}

/* =====Upload==== */
#upload-form {
  display: block;
}

#file-info-container {
  display: none;
}

#delete-file {
  cursor: pointer;
}
